#DB Files
*.mdb
*.ldb
*.mdf
*.ndf

# database files
arcticdb/

# Environment
.env
.venv
env/
venv/
ENV/
strategy_venv/
strategylab_venv/
StrategyLabVenv/

# others
.idea

logs/

*.sh
strategy_trade/private_config.yaml
